{% extends "base.html" %}


{% block content %}

<div class="highlight p-3 mb-3 bg-light rounded">
  <form method="get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Buscar país..." aria-label="Buscar">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Buscar</button>
  </form>
</div>

  <div class="container mt-2">
    <h1 class="text-center text-white">Listado de Países</h1>
    {% if perms.catalogos.add_pais %}
      <a href="{% url 'pais_create' %}" class="btn btn-dark"><i class="fas fa-plus"></i> Agregar País</a>
    {% endif %}
    <table class="table table-striped" style="table-layout: fixed; width: 100%;">
      <thead >
        <tr>
          <th style="width: 33%;">Nombre</th>
          <th style="width: 33%;">Código</th>
          {% if perms.catalogos.change_pais or perms.catalogos.delete_pais %}
            <th style="width: 34%;">Acciones</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for pais in paises %}
          <tr>
            <td>{{ pais.nombre }}</td>
            <td>{{ pais.codigo }}</td>
            {% if perms.catalogos.change_pais or perms.catalogos.delete_pais %}
              <td>
                {% if perms.catalogos.change_pais %}
                  <a href="{% url 'pais_update' pais.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a>
                {% endif %}
                {% if perms.catalogos.delete_pais %}
                  <a href="{% url 'pais_delete' pais.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</a>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
  </div>
{% endblock %}

